<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!--fivicon à mettre 32*32px-->
<link rel="shortcut icon" href="/assets/img/icons/animated_favicon.gif" />

<title>'My BASICA!'{% block title %}{% endblock %}</title>

<!-- CSS -->
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
