

<!-- Featured News -->
<div class="col-sm-6 featured-news">
	<h2>{% trans %}latest_blog_posts{% endtrans %}</h2>
	<div class="row">
		<div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
		<div class="col-xs-8">
			<div class="caption"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></div>
			<div class="date">14 August 2014 </div>
			<div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="blog-post.html">Read more...</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
		<div class="col-xs-8">
			<div class="caption"><a href="blog-post.html">Sed ut perspiciatis unde omnis</a></div>
			<div class="date">23 June 2014 </div>
			<div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="blog-post.html">Read more...</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
		<div class="col-xs-8">
			<div class="caption"><a href="blog-post.html"> Neque porro quisquam est</a></div>
			<div class="date">21 April 2014 </div>
			<div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="blog-post.html">Read more...</a></div>
		</div>
	</div>
</div>
<!-- End Featured News -->